/* Contact Page Styles */
.contact-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
}

.contact-form-container {
    flex: 1 1 50%;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.contact-info {
    flex: 1 1 40%;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.contact-page h2, .contact-info h3 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--color5);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    background-color: var(--color2);
    color: var(--color5);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color3);
}

.map-container {
    height: 300px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

/* Status Message Styles */
#statusMessage {
    margin-top: 10px; /* Space from the button */
    font-weight: bold;
    text-align: center; /* Center the message */
}

#statusMessage.success {
    color: green;
}

#statusMessage.error {
    color: red;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-page {
        flex-direction: column;
    }

    .contact-form-container,
    .contact-info {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}